@use 'variables';

.offer-section {
  padding: 5rem 1rem;
  text-align: center;
  background-color: #fdfdfd;
  color: variables.$primary-color;

  &.alt {
    background-color: darken(#f2f0f4, 3%);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .intro {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }

  p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 1.5rem;
    line-height: 1.6;
  }
}


// Responsive
@media (max-width: variables.$tablet) {
  .offer-section {
    padding: 4rem 1rem;

    h2 {
      font-size: 1.6rem;
    }

    .intro,
    p {
      font-size: 1rem;
    }

  }
}

@media (max-width: variables.$mobile) {
  .offer-section {
    padding: 3rem 1rem;

    h2 {
      font-size: 1.4rem;
    }

    .intro,
    p {
      font-size: 0.95rem;
    }

  }
}


