$primary-color: #1E1F26;
$secondary-color: #F2F2F2;
$background-color: #F9F6F2;
$accent-color: #E8BDBD;
$text-color: #333;
$text-light: #ffffff;
$font-stack: 'poppins', sans-serif;

$tablet: 768px;
$mobile: 480px;